@inject ICarrinhoService carrinhoService
@inject ISyncLocalStorageService localStorage
@implements IDisposable

<a href="carrinho" class="btn btn-info">
    <i class="oi oi-cart"></i>
    <span class="badge">@GetCarrinhoItensCount()</span>
</a>

@code {
    private int GetCarrinhoItensCount()
    {
        var quantidade = localStorage.GetItem<int>("quantidadeCarrinho");

        return quantidade;
    }

    protected override void OnInitialized()
    {
        carrinhoService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        carrinhoService.OnChange -= StateHasChanged;
    }
}
